# Dependencies
node_modules/

package.json
tsconfig.json

# Build output
dist/

# TypeScript cache
*.tsbuildinfo

# IDE files
.vscode/
.idea/

# Logs
*.log
npm-debug.log*

# Environment variables
.env
.env.local
.env.*.local

# OS files
.DS_Store
Thumbs.db 